@using VetSystem.Core.ViewModels.Animal
@using VetSystem.Core.ViewModels.Breed
@model AddAnimalViewModel

<div class="col-10">
    <div>
        <form method="post">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Age"></label>
                    <input asp-for="Age" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Kilograms"></label>
                    <input asp-for="Kilograms" class="form-control" />
                </div>
            </div>
            <div class="col-md-3">
                <label asp-for="CategoryName"></label>
                <select class="form-control text-primary" id="categories" asp-for="CategoryName">
                    <option selected disabled><------></></option>
                    @foreach (var category in (IEnumerable<AddAnimalViewModel>)this.ViewData["categories"])
                    {
                        <option value="@category.CategoryName">@category.CategoryName</option>
                    }
                </select>
                <label asp-for="BreedName"></label>
                <select class="form-control text-primary" id="breeds" asp-for="BreedName">
                    <option selected disabled><------></></option>
                    @foreach (var breed in (IEnumerable<AddAnimalViewModel>)this.ViewData["breeds"])
                    {
                        <option value="@breed.BreedName">@breed.BreedName</option>
                    }
                </select>
                <label asp-for="DiseaseName"></label>
                <select class="form-control text-primary" id="diseases" asp-for="DiseaseName">
                    <option selected disabled><------></></option>
                    @foreach (var disease in (IEnumerable<AddAnimalViewModel>)this.ViewData["diseases"])
                    {
                        <option value="@disease.DiseaseName">@disease.DiseaseName</option>
                    }
                </select>
                <label asp-for="OwnerFirstName"></label>
                <select class="form-control text-primary" id="owners" asp-for="OwnerFirstName">
                    <option selected disabled><------></></option>
                    @foreach (var owner in (IEnumerable<AddAnimalViewModel>)this.ViewData["ownerFirstName"])
                    {
                        <option value="@owner.OwnerFirstName">@owner.OwnerFirstName</option>
                    }
                </select>
                <label asp-for="OwnerLastName"></label>
                <select class="form-control text-primary" id="owners" asp-for="OwnerLastName">
                    <option selected disabled><------></></option>
                    @foreach (var owner in (IEnumerable<AddAnimalViewModel>)this.ViewData["ownerLastName"])
                    {
                        <option value="@owner.OwnerLastName">@owner.OwnerLastName</option>
                    }
                </select>
                <label asp-for="MedicationName"></label>
                <select class="form-control text-primary" id="medication" asp-for="MedicationName">
                    <option selected disabled><------></></option>
                    @foreach (var owner in (IEnumerable<AddAnimalViewModel>)this.ViewData["medication"])
                    {
                        <option value="@owner.MedicationName">@owner.MedicationName</option>
                    }
                </select>
            </div>
            <input class="btn text-black btn-success text-center " type="submit" value="Add" />
        </form>
    </div>
</div>
