@using VetSystem.Core.ViewModels.Animal
@model AllAnimalViewModel

<table class="table">
    <thead>
        <tr>
            <th scope="col">Status</th>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Kilograms</th>
            <th scope="col">Breed</th>
            <th scope="col">Disease</th>
            <th scope="col">Medicament</th>
            <th scope="col">Owner</th>
            <th></th>
           
           
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                @if (Model.IsHealed == true)
                {
                    <h6 style="color: green">Healed</h6>
                }
                @if (Model.IsHealed == false)
                {
                    <h6 style="color: red">In treatment</h6>

                }
            </td>
            <td scope="row">@Model.Id</td>
            <td>@Model.CategoryName</td>
            <td>@Model.Name</td>
            <td>@Model.Age</td>
            <td>@Model.Kilograms</td>
            <td>@Model.BreedName</td>
            <td>@Model.DiseaseName</td>
            <td>@Model.MedicationName</td>
            <td>@Model.OwnerFirstName @Model.OwnerLastName</td>

            <td>
                <a class="btn btn-danger" asp-controller="Animal" asp-action="DeleteAnimal" asp-route-id="@Model.Id">Delete </a>
                <a class="btn" asp-controller="Animal" asp-action="EditAnimal" asp-route-id="@Model.Id">Edit </a>
                <a class="btn" asp-controller="Animal" asp-action="Heal" asp-route-id="@Model.Id">Heal </a>
            </td>

        </tr>
    </tbody>
</table>